body, html {
  height: 100%;
  background-color: #ffff;
  --icon-default-color: #690000;
  overflow: hidden;
}

html input {
  --base-focus-color: #690000;
  --transparency-focus-color: rgba(179,40,46, 0.15);
  border: 1px solid thin #690000 !important;
}

input {
  height: 44px !important;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-input-label-top {
  top: 22px;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

:root {
--base-focus-color: #690000;
--transparency-focus-color: rgba(179,40,46, 0.15);
}

* {
    padding: 0;
    margin: 0;
}

.login-container {
    display: flex;
    height: 100vh;
    max-width: none;
    position: relative;
    flex-grow: 1;
    background-color: white;
    clip-path: circle(2157px at -1586px 50%);
    z-index: 1;
}

  .login-content {
    display: flex;
    width: 550px;
    justify-content: center;
  }
    
  .video-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;

  }

  .video-container > #loginVideo {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(-1);



  }
      
  .login-box {
    width: 75%;
    padding: 50px 0 0 0;
  }

  .login-header {
    text-align: center;
  }

  .login-header img {
    width: 75px;
  }
  
  .welcome {
    font-family: Gilroy-Medium;
    font-size: 26px;
    font-weight: 400;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: #000;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
    }

  .signup-text {
    width: 95%;
    margin-bottom: 20px;
    font-family: Gilroy-Regular;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: var(--text-primary, #000);
  }
  
  .form-control {
    height: 41px !important;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.15px;
  }

  .form-group {
    position: relative;
    margin-top: 24px;
  }

  .forgot-pw {
    color: #690000 !important;
    font-size: 12px;
    font-weight: 600;
  }

  .singIn-btn {
    background-color: #690000;
    color: white;
    margin-top: 15px;
  }

  .singIn-btn:disabled {
    background-color: #A8A9B2;
    color: white;
    margin-top: 15px;
  }

  .find-account {
    width: 100%;
    background-color: #690000;
    color: white;
    margin-top: 30px;
    margin-bottom: 25px;
    font-family: Gilroy-bold;
    font-size: 18px;
    height: 56px;
  }
  
  .find-account:disabled {
    background-color: #A8A9B2;
    color: white;
    margin-top: 30px;
    margin-bottom: 25px;
    font-family: Gilroy-bold;
    font-size: 18px;
    height: 56px;
  }

  .mandatory-field {
    color: #777773;
    margin-top: 24px;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.4px;
  }

  .signin-signup-footer {
    background-color: #F0F0F0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 52px;
    padding-top: 10px;
    border-top: solid black;
    font-family: Arial;
    font-size: 14px;
  }

  .terms-conditions {
    display: contents;
  }

  .checkbox-input {
    margin: 48px 10px 0;
    display: flex;        
  }

  .btn-link {
    margin-left: -10px;
    margin-bottom: 3px;
    font-weight: 700;
    color: #690000;
  }

  #error-message {
    display: none;
    white-space: break-spaces;
  }

  .validation-error {
    color: #CB0A0A;
    font-size: 8px;
    display: none;
    margin-top: -8px;
  }

  .wrap-input-ssn {
    display: flex;
    flex-direction: row;
    border: solid thin #ccc;
    border-radius: 5px;
    margin-top: 30px;
  }

  .ssnTax-input {
    border: none; 
  }

  .field-error-text {
    width: 90%;
    position: absolute;
    margin: 0 0 0 5px;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.4px;
  }

  .fa-regular {
    padding: 15px 10px;
  }

  label {
    /* color: var(--text-primary, #000) !important; */
    font-family: Gilroy-Regular !important;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 14.4px */
    top: 22px !important;
  }


  .label-black {
    color: #690000 !important;
  }
  
  .password {
    height: 44px;
  }

  .info-icon-btn {
    height: fit-content;
    width: 10%;
  }
  .info-icon-btn:hover .tooltiptext {
    visibility: visible;
  }

  .field-w-icon {
    width: 90%;
  }

  .input-wrapper {
    margin-bottom: 7px;
    height: 49px;
  }

  .floating-label {
    position: relative;
    bottom: 2px;
    height: 22px;
  }

  .floating-label-email-signup {
    position: relative;
    bottom: 2px;
    height: 22px;
  }
  .w-10 {
    top: -23px;
    position: relative;
  }
  .w-90 {
    width: 90%;
    align-content: end; 
  }
  .checkbox-terms {
    display: flex;
    margin: 0px -10px 0px -10px;
  }
  .unable-locate-acc-title {
    color: var(--text-primary, #000);
    text-align: center;
    font-family: Gilroy-Medium;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
  .unable-locate-acc-text {
    color: var(--text-primary, #000);
    font-family: Gilroy-Regular;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
  .unable-locate-acc-icon {
    text-align: center;
    margin-top: 30px;   
  }
  .unable-locate-acc-title {
    color: var(--text-primary, #000);
    text-align: center;
    font-family: Gilroy-Medium;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-top: 8px;
  }
  .unable-locate-acc-text {
    color: var(--text-primary, #000);
    font-family: Gilroy-Regular;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-top: 10px;
  }
  .contact-link {
    margin-top: 24px;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  @media screen and (min-width: 431px) {
    .web-presentation-container {
      display: block;
      position: relative;
      flex-grow: 4;
      overflow: hidden;

      video {
        height: 100vh;
        min-width: fit-content;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
      }
    }
  }

  @media screen and (max-width: 430px) {
    .web-presentation-container {
      display: none;
    }
  }
